<div class="card">
    <div class="card-header">
        {% block header %}Card Header{% endblock %}
    </div>
    <div class="card-body">
        {% block body %}Card Body{% endblock %}
    </div>
    <div class="card-footer">
        {% block name %}Card Footer{% endblock %}
    </div>
</div>